:root {
    --color-bg-dark: #e0e0e0;
    --color-primary: #000000;       /* dorado */
    --color-primary-hover: #C6A667; /* gris claro para hover */
}

/* Fondo oscuro y texto claro para que se vea */
body {
    background-color:#f5f5f5f5;
    color: #f5f5f5;  /* texto claro en todo el body */
}

/* Custom Navbar Styles */
.navbar-custom {
    background-color: var(--color-bg-dark);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0.8rem 0;
}

.navbar-custom .container {
    max-width: 1200px;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff !important;
    letter-spacing: 0.05em;
}

.navbar-nav .nav-link {    
    color: #0a0a0a !important;  /* texto negro  en todo el menu */
    font-weight: 500;
    padding: 0.5rem 1rem !important;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: var(--color-primary-hover) !important; /* dorado al pasar el ratón */
}



/* Toggler (si lo usas en otras páginas) */
.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.3);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.8%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.25rem rgba(212, 175, 55, 0.4);
}

.btn-custom-primary {
    color: var(--color-primary)

}

.btn-custom-primary:hover {
    color: var(--color-primary-hover)

}
.work-circle {
    width: 470px;
    height: 470px;
    border-radius: 50%;
    padding: 90px;
    display: flex;
}

.work-circle-text {
    max-width: 1000px;   /* ajusta si quieres más o menos ancho de texto */
   
}




/* Versión más pequeña en móvil */
@media (max-width: 576px) {
    .work-circle {
        width: 260px;
        height: 260px;
        padding: 1.5rem;
    }
}


main {
     padding-top: 150px;
}

/* Ajustes móviles */
@media (max-width: 576px) {
    .navbar-custom {
        padding: 0.4rem 0;
        border-radius: 0;           /* si quieres que en móvil sea recta */
    }

    .navbar-brand img {
        max-height: 32px;          /* logo más pequeño en móvil */
        height: auto;
        width: auto;
    }

    .navbar-nav {
        align-items: center;       /* centra los enlaces en el menú desplegado */
    }

    .navbar-nav .nav-link {
        padding: 0.35rem 0.75rem;
    }

    main {
        padding-top: 90px;         /* algo menos en pantallas pequeñas */
    }
}
